<html>
  <head>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_tag "auth_token = '#{form_authenticity_token}';" %>
  </head>
  <body>
    <fieldset>
      <legend> User Details </legend>
      <% form_for :user,  :url => {:action => 'create'} do |form| %>
        <div class="form_row">
          <label for="name">Name:</label>
          <%= form.text_field :name,
            :size => 40,
            :maxlength => 60 %>
        </div>
        <div class="form_row">
          <label for="age">Age:</label>
          <%= form.text_field :age,
            :size => 40,
            :maxlength => 60 %>
        </div>
        <div class="form_row">
          <label for="company_name">Company name:</label>
          <%= text_field_with_auto_complete :company, :name, {:size => 40},
            {:url => 'user/companies', :method => 'get', :with => "'search='+element.value",
            :after_update_element =>
              "function (ele, value)
            {
            new Ajax.Request('/user/data_loader/' + value.innerHTML,
            {
            asynchronous:true,
            evalScripts:true,
            parameters:'authenticity_token=' + auth_token
            });
            return false;
            }
            "} %>
        </div>
        <div id="preFillDiv">
          <div class="form_row">
            <label for="address1">Address1:</label>
            <input id = "company_address1" name="company[address1]" size="40" type="text">
          </div>
          <div class="form_row">

            <label for="address2">Address2:</label>
            <input name="company[address2]" size="40" type="text">
          </div>
          <div class="form_row">
            <label for="country">Country:</label>
            <input name="company[country]" size="40" type="text">
          </div>
        </div>
        <div class="form_row">
          <%= submit_tag  "Submit", :class => "submit" %>
        </div>
      <% end %>
    </fieldset>
  </body>
</html>